[submodule "lib/xptools"]
	path = lib/xptools
	url = https://github.com/azonenberg/xptools.git
[submodule "lib/log"]
	path = lib/log
	url = https://github.com/azonenberg/logtools.git
[submodule "lib/scpi-server-tools"]
	path = lib/scpi-server-tools
	url = https://github.com/glscopeclient/scpi-server-tools.git
